<!DOCTYPE html>
<html ng-app="kwiki.auth">
<head>
  <title>login</title>
</head>
<body ng-controller="userControl">

<!-- libraries -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script src="auth.js"></script>




<div>
<h4>Log In</h4>
<form>
  <input ng-model='username' type='text' placeholder='username'>
  <input ng-model='password' type='text' placeholder='password'>
  <input ng-click='addUser(username, password)' type='submit'>
</form>




</div>
</body>
</html>
