  <ion-view view-title="Kwiki" ng-controller="ChatCtrl">
    <ion-nav-buttons side="primary">
      <button class="button button-energized" ng-click="leaveChat()">
        Leave
      </button>
    </ion-nav-buttons>
    <ion-content>
      <div class="row row-bottom" ng-init="loadChat()">
        <div class="col">
          <div class="chatbox-container">
            <ul class="chatbox">
              <li class="message-item" ng-repeat="message in messages track by $index"><span class="user">{{ message.userName }} </span><br><span class="message">{{ message.text }}</span></li>
            </ul>
          </div>
          <form ng-submit="sendMessage()">
            <label class="item item-input message-input">
              <input type="text" ng-model="message.text" placeholder="Send a message ..."/>
            </label>
            <button class="button button-block button-calm" action="submit">Send</button>
          </form>
        </div>
      </div>
    </ion-content>
  </ion-view>
