<ion-view view-title="Kwiki">
  <ion-content>
    <div id="authbox-container" class="authbox">
      <div class="image"></div>
      <div class="inputs inputs-login">
        <input ng-model='username' type='text' placeholder='username' class='username'>
        <input ng-model='password' type='password' placeholder='password' class='password'>
      </div>

      <div class="authbox-button-container">
        <input type="submit" class="button button-energized auth-button" action="submit" ng-click="checkUser(username, password)" value="I'm ready for a kwiki">
      </div>
      <a class="auth-link-to-signup" href="#/signup">Not signed up? Click here!</a>
    </div>
  </ion-content>
</ion-view>
