<ion-view view-title="Kwiki">
  <ion-content>
    <div id="authbox-container" class="authbox">
      <!-- <h4>Log In</h4> -->
      <!-- <form> -->
      <div>
        <input ng-model='username' type='text' placeholder='username' class='username'>
        <input ng-model='password' type='password' placeholder='password' class='password'>
        <!-- <input ng-click='checkUser(username, password)' type='submit'> -->
      </div>

      <div class="authbox-button-container">
        <input type="submit" class="button button-energized auth-button" action="submit" ng-click="addUser(username, password)" value="I'm ready for a kwiki">
      <!-- </form> -->
      </div>
      <a class="auth-link-to-signup" href="#/login">Already signed up? Log in!</a>
    </div>
  </ion-content>
</ion-view>
